.form {
    display: flex;
    width: 100%;
}
  
.form input {
    flex: 1;
    font-size: 0.9rem;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold'; 
    text-transform: uppercase;
}
  
.create-button {
    padding: 0.4rem;
    width: 2.2rem;
    margin-top: 0.35rem;
    position: absolute;
    margin-left: calc(100% - 5.2rem);
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-out;
    font-family: 'NEXON Lv1 Gothic OTF'; 
}
  
.create-button:hover {
    background: #ff4433;
}