.form {
    display: flex;
    width: 100%;
    max-width: 600px;
}
  
.form input {
    flex: 1;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1rem;
    font-family: 'Cousine', monospace;
    text-transform: uppercase;
}
  
.create-button {
    padding: 0.5rem;
    width: 3rem;
    position: absolute;
    margin-top: 0.6rem;
    margin-left: calc(600px - 4.6rem);
    text-align: center;
    color: #343a40;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-out;
    font-family: 'Cousine', monospace;
}
  
.create-button:hover {
    background: #343a40;
    color: #fff;
}