.stock-item {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    user-select: none;
    font-family: 'NEXON Lv1 Gothic OTF'; 
    font-size: 0.9rem;
    background: #fff;
    margin-bottom: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
}

.stock-item:hover {
    border: 1px solid #dfdfdf;
}
.stock-item:hover .stock-text {
    color: #ff4433;
}

.stock-item:hover .remove {
    opacity: 1;
}

.remove {
    margin-left: 1rem;
    color: #343a40;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: -0.1rem;
    opacity: 0;
}
  
.stock-text {
    flex: 1;
    word-break: break-all;
    font-family: 'NEXON Lv1 Gothic OTF Bold'; 
    font-size: 1rem;
}
  
.stock-text.checked {
    
}
  
.stock-check {
    font-size: 1.4rem;
    line-height: 1rem;
    margin-right: 1.5rem;
    color: #343a40;
    font-weight: 700;
    opacity: 0;
}

.stock-check.checked {
    opacity: 1;
}