.stock-item {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    user-select: none;
    font-family: 'Cousine', monospace;
    font-size: 0.85rem;
}

.stock-item:hover {
    background: #f5f5f5;
}

.stock-item:hover .remove {
    opacity: 1;
}

.stock-item + .stock-item {
    border-top: 1px solid #f5f5f5;
}

.remove {
    margin-left: 1rem;
    color: #343a40;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: -0.1rem;
    opacity: 0;
}
  
.stock-text {
    flex: 1;
    word-break: break-all;
}
  
.stock-text.checked {
    font-weight: 700;
}
  
.stock-check {
    font-size: 1.4rem;
    line-height: 1rem;
    margin-right: 1.5rem;
    color: #343a40;
    font-weight: 700;
    opacity: 0;
}

.stock-check.checked {
    opacity: 1;
}