.todo-list-template {
    background: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
}
  
.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40;
    display: inline-block;
}
  
.form-wrapper {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
  
.todos-wrapper {
    min-height: 5rem;
}