@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Cousine', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  font-size: 0.9rem;
  color: #343a40;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}